*{
	margin : 0;
	padding : 0;
	
}
body { 
	background-repeat: no-repeat;
	background-size: cover;
	
}

#add{
	height: 5%;
	width: 5%;
	position: absolute;
	left: 400px;
	top : 200px;
	
}

#addcourt{
	height: 5%;
	width: 5%;
	position: absolute;
	left: 650x;
	top : 200px;
	
}
.centered{
	text-align : center;
	font-family: sans-serif;
	font-size: 20px;
	font-weight:bold;
	position: absolute;
  	top: 200%;
  	left: 50%;
  	color: white;
 
}
